{{ $layer := resources.Get "images/overlay.png" -}}

<div class="carousel">
  {{ range .Page.Resources.Match (.Get "pattern") }}
    {{ $img := .Resize "x400" }}
    {{ $x := sub $img.Width 100 }}
    {{ $img := $img | images.Filter ( images.Overlay $layer $x 300 ) }}
    {{ $webp := $img.Resize (printf "%dx%d webp" $img.Width $img.Height) }}
    <picture>
      <source data-flickity-lazyload-srcset="{{ $webp.RelPermalink }}" type="image/webp">
      <img
      data-flickity-lazyload="{{ $img.RelPermalink }}"
      alt="{{ $img.Title }}">
    </picture>
  {{ end }}
</div>
