<!-- Flickity HTML init -->
<div class="carousel"
    data-flickity='{ "cellAlign": "left", "imagesLoaded": true, "percentPosition": false }'>
    {{ range .Page.Resources.Match (.Get "pattern") }}
    {{ $sm := .Resize "200x" }}
    {{ $md := .Resize "337x" }}
    {{ $lg := .Resize "356x" }}
    <img
        sizes="(max-width: 356px) 100vw, 356px"
        src="{{ $sm.RelPermalink }}"
        srcset="
            {{ $sm.RelPermalink }} 200w, 
            {{ $md.RelPermalink }} 337w, 
            {{ $lg.RelPermalink }} 356w"
        alt="{{ .Title }}">
    {{ end }}
</div>

