<aside class="grid gallerygrid">
	{{ range .Page.Resources.Match "instagram/*.jpg" }}
	<blockquote class="instagram-media" cite="{{ .Params.permalink }}">
		<div class="instagram-wrapper">
			<a rel="nofollow" href="{{ .Params.permalink }}" target="_blank">
				<header>
					<img
						alt="Profielfoto van straal_atelier"
						class="instagram-avatar"
						src="/straal_atelier.jpg"
					/>
					<h4>straal_atelier</h4>
				</header>
				<img class="instagram-photo" src="{{ .RelPermalink }}" alt="{{ .Title }}">
				<p>{{ .Params.description }}</p>
			</a>
		</div>
	</blockquote>
	{{ end }}
</aside>
