<aside class="grid gallerygrid" title="{{ i18n "label_gallerygrid" }}">
	{{ range .Page.Resources.Match "instagram/*.jpg" }}
	<blockquote class="instagram-media" cite="{{ .Params.permalink }}">
		<div class="instagram-wrapper">
			<a rel="nofollow" href="{{ .Params.permalink }}" target="instagram">
				<header>
					<img
            loading="lazy"
						alt="Profielfoto van straal_atelier"
						class="instagram-avatar"
						src="{{ (resources.Get "images/straal_atelier.jpg" | fingerprint).RelPermalink }}"
					/>
					<strong>straal_atelier</strong>
				</header>
				<img
          loading="lazy"
          class="instagram-photo"
          src="{{ .RelPermalink }}"
          alt="{{ .Title }}">
				<p>{{ .Params.description }}</p>
			</a>
		</div>
	</blockquote>
	{{ end }}
</aside>
