img[src="/images/IG_Glyph_Fill.png"] {
    width: 100px;
    height: 100px;
    float: right;
    margin-bottom: 2em;
}

.post-holder.odd {
    background: #a2272a;
}

#prijsopgave input.fw {
    display: block;
    width: 100%;
}

#prijsopgave form p {
    margin: 1em 0 2em 0;
}

.grid {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.grid>img {
    margin: 0;
}

.post-holder figure {
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-holder figcaption {
    font-style: italic;
    font-size: 90%;
    color: #777;
}

.post-holder.odd figcaption {
    color: #aaa;
}

.grid figcaption {
    margin: 0 auto;
    font-size: 80%;
    font-weight: normal;
    text-align: center;
}

.grid figcaption a {
    text-decoration: none;
    font-weight: bold;
}