details[open] summary ~ * {
  animation: open .3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  font-size: 90%;
  width: 100%;
  padding: .5rem 0;
  border-top: 1px solid black;
  position: relative;
  cursor: pointer;
  list-style: none;
}

details summary:after {
  content: "+";
  color: black;
  position: absolute;
  line-height: 0;
  margin-top: .75rem;
  right: 0;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary:after {
  transform: rotate(45deg);
}

details summary {
  outline: 0;
}

details p {
  font-size: 70%;
}
