details[open] summary ~ * {
  animation: open .3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

details[open] summary:after {
  transform: rotate(45deg);
}

details {
  summary::-webkit-details-marker {
    display: none;
  }

  summary {
    font-size: 90%;
    width: 100%;
    padding: .4rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    list-style: none;
    outline: 0;

  }

  summary:after {
    font-size: 120%;
    font-weight: 400;
    content: "+";
    color: black;
    position: absolute;
    line-height: 0;
    margin-top: 1.5rem;
    right: 0;
    transform-origin: center;
    transition: 200ms linear;
  }

  section {
    font-size: 70%;
    margin-bottom: 1.6rem;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin-left: 0;
    margin-bottom: 1em;
  }
}
