.swiper {
  margin-top: 1em;
}

.swiper-slide {
  width: auto;

  img {
    display: block;
    width: auto;
    height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-slide {
    img {
      height: 400px;
    }
  }
}

div.swiper-button-prev,
div.swiper-button-next {
color: $col20;
}
