#site-head {
  position: relative;
  display: table;
  height: 100vh;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  color: white;
  background-size: cover;

  // semi-transparent overlay to make the text legible.
  &:before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

@keyframes vertical {
  0%,
  100%,
  60%,
  80% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(20px);
  }
}

.scrolly {
  font-size: 400%;
  padding-top: 1em;
  opacity: 0.6;
  animation: vertical 3s ease infinite;
  transition: opacity 1s ease-out;

  &:hover {
    opacity: 1;
  }
}
