#site-head {
  position: relative;
  display: table;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
  background-color: $col60;
  background-size: cover;

  // semi-transparent overlay to make the text legible.
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    width: 100%;
  }

  .inner {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 3em auto;
  }
}

nav#main-menu {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 15% 0 15% 0;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
  }

  .button {
    padding: 2rem 3rem 2rem 3rem;
    text-transform: uppercase;
    font-size: 1em;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: opacity var(--animation-speed) ease-in;

  .header-loaded & {
    opacity: 0;
    height: 0;
  }
}
.lds-ellipsis div {
  position: absolute;
  top: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $col20;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.scrolly {
  font-size: 400%;
  opacity: 0;
  animation: scrollDown 3s ease infinite;
  transition: opacity var(--animation-speed) ease-in;

  a {
    color: $col20;
    transition: color var(--animation-speed) ease-in;

    &:hover {
      color: $col10;
    }
  }

  .header-loaded & {
    opacity: 1;
  }
}

@keyframes scrollDown {
  0%,
  100%,
  60%,
  80% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(20px);
  }
}

