.h-card {
  margin: 1em 0 2em 0;

  a {
    display: block;
    margin-left: 0;
    width: auto;
  }

  .invisible {
    display: none;
  }

  .p-name {
    font-weight: bold;
  }

  .p-street-address {
    display: block;
  }

  .p-postal-code {
    margin-right: 0.5em;
  }

  .p-country-name {
    display: block;
  }
}
