<!DOCTYPE html>
{{ $.Scratch.Set "hero-portrait" (resources.Get "images/hero/portrait.jpg" | fingerprint) -}}
{{ $.Scratch.Set "hero-landscape" (resources.Get "images/hero/landscape.jpg" | fingerprint) -}}
{{ $.Scratch.Set "key-art" (resources.Get "images/luchtgommen-voorbeeld.jpg" | fingerprint) -}}
<html lang="{{ .Site.Language.Lang }}" dir="ltr">
{{- partial "head.html" . -}}

<body>
  <a class="skip-to-content-link" href="#maincontent">
    {{ i18n "skip_link" }}
  </a>
  <main id="maincontent">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
  {{ partial "languages.html" . }}
</body>
</html>
