<p class="h-card">
	<img class="invisible u-logo" src="/straal_atelier.jpg" alt="{{ .Site.Title }} logo" />
	<span class="p-name">Straal Atelier Val-Meer</span>
	<span class="p-street-address">{{ .Site.Params.adrStreet }}</span>
	<span class="p-postal-code">{{ .Site.Params.adrPostcode }}</span>
	<span class="p-locality">{{ .Site.Params.adrLocality }}</span>
	<span class="p-country-name">{{ .Site.Params.adrCountry }}</span>
</p>

<p>
	<a class="btn btn-sm" href="/straal-atelier-val-meer.vcf">
		<span data-feather="download-cloud"></span>
		Toevoegen aan contacten
	</a>
</p>
