.grid {
	display: grid;
	margin-bottom: 3em;

	&.instagrid {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1em;
	}

	&.gallerygrid {
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		grid-gap: 1em;
	}

	img {
		margin: 0;
		max-width: 100%;
	}

	figcaption {
		margin: 0 auto;
		font-size: 80%;
		font-weight: normal;
		text-align: center;

		a {
			text-decoration: none;
			font-weight: bold;
		}
	}
}
