@charset "UTF-8";

{{ $hero := resources.Get "images/hero.jpg" | fingerprint }}
{{ $oswaldLight := resources.Get "fonts/Oswald-Light.woff2" | fingerprint }}
{{ $oswaldRegular := resources.Get "fonts/Oswald-Regular.woff2" | fingerprint }}
{{ $oswaldBold := resources.Get "fonts/Oswald-Bold.woff2" | fingerprint }}

:root {
  --oswaldLight: url({{ $oswaldLight.RelPermalink }});
  --oswaldRegular: url({{ $oswaldRegular.RelPermalink }});
  --oswaldBold: url({{ $oswaldBold.RelPermalink }});
}

#site-head {
  --hero: url("{{ $hero.RelPermalink }}");
}
  
@import "variables";
@import "normalize";
@import "font-faces";
@import "screen.scss";

@import "site_head";

@import "friendly";
@import "flickity.min.css";

@import "custom.scss";