@charset "UTF-8";

{{ $hero := resources.Get "images/hero.jpg" | fingerprint }}
{{ $oswaldLight := resources.Get "fonts/Oswald-Light.woff2" | fingerprint }}
{{ $oswaldRegular := resources.Get "fonts/Oswald-Regular.woff2" | fingerprint }}
{{ $oswaldBold := resources.Get "fonts/Oswald-Bold.woff2" | fingerprint }}

/* Big cover image on the home page */
#site-head {
  position: relative;
  display: table;
  height: 100vh;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  background-image: url({{ $hero.RelPermalink }});
  background-size: cover;
}
  
@import "variables";
@import "normalize";
@import "font-faces";
@import "screen.scss";

@font-face {
  font-family: 'Oswald';
  src: url({{ $oswaldLight.RelPermalink }}) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url({{ $oswaldBold.RelPermalink }}) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url({{ $oswaldRegular.RelPermalink }}) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "friendly";
@import "flickity.min.css";

@import "custom.scss";