@charset "UTF-8";

{{ $hero := resources.Get "images/hero.jpg" | fingerprint }}

/* Big cover image on the home page */
#site-head {
  position: relative;
  display: table;
  height: 100vh;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
  background-image: url({{ $hero.RelPermalink }});
  background-size: cover;
}

.scrolly {
  font-size: 400%;
  padding-top: 1em;
}

@import "variables";
@import "normalize";
@import "font-faces";
@import "instagram";
@import "screen.scss";
@import "embed";
@import "friendly";
@import "custom.scss";