html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  line-height: 1.6em;
  color: #3a4145;
}

::-moz-selection {
  color: #222;
  background: #d6edff;
  text-shadow: none;
}

::selection {
  color: #222;
  background: #d6edff;
  text-shadow: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}

h1 {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 5rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-indent: -2px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 3.5rem;
  padding-top: 1em;
}

h4 {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 3rem;
}

h5 {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 2.5rem;
}

h6 {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 2rem;
}

a {
  color: inherit;
  transition: all ease 0.3s;
}

a:hover {
  color: $col10;
}

a.btn {
  text-decoration: none;
  background-color: $col50;
  border-radius: 6px;
  color: white;
  display: inline-block;
  letter-spacing: 1px;
  padding: 1em 0.6em 1em 0.6em;
  position: relative;
  font-weight: lighter;

  &:hover {
    background: $col40;
  }
}

nav#main-menu {
  padding: 15% 0 15% 0;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
  }

  li > a {
    font-size: 1em;
    padding: 0.6em 1em 0.6em 1em;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;

    &:hover {
      background: $col50;
    }
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 3.2em 0;
  padding: 0;
}

blockquote {
  box-sizing: border-box;
  margin: 1em 0 1em -2.2em;
  padding: 0 0 0 1em;
  font-weight: lighter;
}

blockquote p {
  margin: 0.8em 0;
}
.quo {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc;
}

blockquote small:before {
  content: "\2014 \00A0";
}

blockquote cite {
  font-weight: bold;
}

blockquote cite a {
  font-weight: normal;
}

dl {
  margin: 1.6em 0;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em;
}

mark {
  background-color: #ffc336;
}

code,
tt {
  padding: 3px 5px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.75em;
  border: 1px solid #e3edf3;
  background: #f7fafb;
  border-radius: 2px;
  color: #3a4145;
}

pre {
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #e3edf3;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #f7fafb;
  border-radius: 3px;
}

pre code,
tt {
  font-size: inherit;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #efefef;
}

table th {
  color: #000;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #efefef;
}

table table table {
  background-color: #fff;
}

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #f6f6f6;
}

table.plain {
  tbody > tr:nth-child(odd) > td,
  tbody > tr:nth-child(odd) > th {
    background: transparent;
  }
}

li {
  margin-left: 30px;
}

ul li {
  list-style-type: none;
}

.bult {
  display: inline;
  float: left;
  padding-top: 7px;
}

/* ==========================================================================
      3. Utilities - These things get used a lot
      ========================================================================== */

/* Hides shit */
.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

/* Creates a responsive wrapper that makes our content scale nicely */
.inner {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
}

/* Yo-logo. Yolo-go. Upload one in ghost/settings/ */
#blog-logo img {
  display: block;
  max-height: 100px;
  width: auto;
  margin: 0 auto;
  line-height: 0;
}

#back {
  color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 8px;
  left: 8px;
  padding: 6px;
  font-size: 16px;
}

/* The details of your blog. Defined in ghost/settings/ */
.blog-title {
  margin: 10px 0 1em 0;
  font-size: 5rem;
  letter-spacing: -1px;
  background-color: $col70;
  opacity: 0.9;
  line-height: 8rem;
}

.blog-description {
  margin: 0;
  font-size: 2.5rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0;
  text-shadow: 0 0 6px $col80;
}

a.fn-item {
  display: block;
  cursor: pointer;
  opacity: 0.7;
}
.white {
  color: white;
}
a.fn-item:hover {
  color: #9fd067;
}
a.fn-item.active {
  color: #86c440;
  opacity: 1;
}

.user-meta {
  position: relative;
  padding: 0.3rem 40px 0 100px;
  min-height: 77px;
}

.user-image {
  position: absolute;
  top: 0;
  left: 0;
}

.user-name {
  display: block;
  font-weight: bold;
}

.user-bio {
  display: block;
  max-width: 440px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

.publish-meta {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4.3rem 0 4rem 0;
  text-align: right;
}

.publish-heading {
  display: block;
  font-weight: bold;
}

.publish-date {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5em;
}

/* ==========================================================================
      5. Single Post - When you click on an individual post
      ========================================================================== */

/* ==========================================================================
      6. Third Party Elements - Embeds from other services
      ========================================================================== */

/* Github */

.gist table {
  margin: 0;
  font-size: 1.4rem;
}

.gist .line-number {
  min-width: 25px;
  font-size: 1.1rem;
}

/* ==========================================================================
      7. Pagination - Tools to let you flick between pages
      ========================================================================== */

/* The main wrapper for our pagination links */
.pagination {
  position: relative;
  width: 80%;
  max-width: 700px;
  margin: 4rem auto;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  color: #9eabb3;
  text-align: center;
}

.pagination a {
  color: #9eabb3;
}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
  position: absolute;
  display: inline-block;
  padding: 0 15px;
  border: #ebf2f6 2px solid;
  text-decoration: none;
  border-radius: 30px;
  transition: border ease 0.3s;
}

.older-posts {
  right: 0;
}

.page-number {
  display: inline-block;
  padding: 2px 0;
}

.newer-posts {
  left: 0;
}

.older-posts:hover,
.newer-posts:hover {
  border-color: #9eabb3;
}

/* ==========================================================================
      8. Footer - The bottom of every page
      ========================================================================== */

.site-footer {
  position: relative;
  margin: 0rem 0 0 0;
  padding: 1rem 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5em;
  color: #bbc7cc;
  text-align: center;
  background: #22343a;
}

.site-footer a {
  color: #bbc7cc;
  text-decoration: underline;
}

.site-footer a:hover {
  color: #50585d;
}

.poweredby .i-ghost {
  font-weight: 700;
  text-decoration: none;
}

.poweredby .i-ghost:hover {
  text-decoration: none;
}

.poweredby .i-ghost:before {
  font-size: 1rem;
  margin-right: 0.2em;
}

/* The subscribe icon on the footer */
.subscribe {
  width: 28px;
  height: 28px;
  position: absolute;
  top: -14px;
  left: 50%;
  margin-left: -15px;
  border: #ebf2f6 1px solid;
  text-align: center;
  line-height: 2.4rem;
  border-radius: 50px;
  background: #fff;
  transition: box-shadow 0.5s;
}

/* The RSS icon, inserted via icon font */
.subscribe:before {
  color: #d2dee3;
  font-size: 10px;
  position: absolute;
  top: 2px;
  left: 9px;
  font-weight: bold;
  transition: color 0.5s ease;
}

/* Add a box shadow to on hover */
.subscribe:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 3px;
  transition: box-shadow 0.25s;
}

.subscribe:hover:before {
  color: #50585d;
}

/* CSS tooltip saying "Subscribe!" - initially hidden */
.tooltip {
  opacity: 0;
  display: inline-block;
  padding: 4px 8px 5px 8px;
  position: absolute;
  top: -23px;
  left: -23px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  background: #50585d;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, top 0.3s ease;
}

/* The little chiclet arrow under the tooltip, pointing down */
.tooltip:after {
  content: "";
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: #50585d transparent;
  display: block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -5px;
  z-index: 220;
  width: 0;
}

/* On hover, show the tooltip! */
.subscribe:hover .tooltip {
  opacity: 1;
  top: -33px;
}

/* ==========================================================================
      9. Media Queries - Smaller than 1130px
      ========================================================================== */

@media only screen and (max-width: 1130px) {
  a.fn-item {
    display: inline;
    margin-left: 10px;
  }
  blockquote {
    margin-left: 0;
  }
  #site-head {
    box-sizing: border-box;
    min-height: 240px;
    padding: 15% 0;
    height: 100%;
    margin-bottom: 0rem;
  }

  .blog-title {
    margin-top: 2em;
    font-size: 4rem;
    letter-spacing: -1px;
  }

  .blog-description {
    font-size: 2.2rem;
    line-height: 1.5em;
  }

  h1 {
    font-size: 4.8rem;
    text-indent: -2px;
  }

  h2 {
    font-size: 3.8rem;
  }

  h3 {
    font-size: 3.3rem;
  }

  h4 {
    font-size: 2.8rem;
  }
}

/* ==========================================================================
      10. Media Queries - Smaller than 500px
      ========================================================================== */

@media only screen and (max-width: 500px) {
  #blog-logo img {
    max-height: 80px;
  }

  .inner,
  .pagination {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  #site-head {
    padding: 10% 0;
    height: 65%;
  }
  #header-arrow {
    display: none;
  }

  .blog-title {
    font-size: 3rem;
  }

  .blog-description {
    font-size: 2.2rem;
  }

  h1,
  h2 {
    font-size: 3rem;
    line-height: 1.1em;
    letter-spacing: -1px;
  }

  h3 {
    font-size: 2.8rem;
  }

  h4 {
    font-size: 2.3rem;
  }

  .page-number {
    display: block;
  }

  .site-footer {
    font-size: 1.1rem;
  }
}
