@charset "UTF-8";

@import "font-awesome/scss/font-awesome.scss";
@import "slick/slick.css";
@import "slick/slick-theme.css";
@import "viewerjs/viewer.min.css";
@import "css/normalize.css";
@import "css/friendly.css";
@import "css/font-faces.css";

$col10: #f1e7d6;
$col20: #e2cead;
$col30: #bca27d;
$col40: #928f8a;
$col50: #7a756f;
$col60: #605d54;
$col70: #3f3f3d;
$col80: #1f2326;

@import "screen.scss";
@import "custom.scss";