<head>
<meta charset="utf-8">
<title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>

{{ partial "meta.html" . }}

{{ with getenv "NETLIFY_IMAGES_CDN_DOMAIN" }}<link rel="preconnect" href="https://{{ . }}">{{ end -}}

{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "css/main.scss" | toCSS $options | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

{{ $fl := resources.Get "flickity/flickity.css" }}
{{ $vg := resources.Get "vegas/vegas.css" }}
{{ $vendorcss := slice $fl $vg | resources.Concat "vendor.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $vendorcss.RelPermalink }}" integrity="{{ $vendorcss.Data.Integrity }}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

{{ if .IsTranslated -}}
<link rel="alternate" href="{{ .Permalink }}" hreflang="{{ $.Site.Language }}">
{{ range .Translations -}}
     <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}">
     {{ end -}}
{{ end -}}

</head>
