<head>
<meta charset="utf-8">
<title>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

<link rel="preconnect" href="https://fonts.gstatic.com">
{{ with getenv "NETLIFY_IMAGES_CDN_DOMAIN" }}<link rel="preconnect" href="https://{{ . }}">{{ end -}}

{{ with .Site.Params.description }}<meta name="description" content="{{ . }}" />{{ end }}
{{ with .Site.Params.meta.keywords }}<meta name="keywords" content="{{ . }}" />{{ end }}

{{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "css/main.scss" | resources.ExecuteAsTemplate "main.scss" . | toCSS $options | fingerprint }}
<link rel="stylesheet" rel="preload" href="{{ $style.RelPermalink }}" as="style">

{{ template "_internal/opengraph.html" . -}}
{{ template "_internal/twitter_cards.html" . -}}
{{ template "_internal/schema.html" . -}}

{{ if .IsTranslated -}}
<link rel="alternate" href="{{ .Permalink }}" hreflang="{{ $.Site.Language }}">
{{ range .Translations -}}
     <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}">
     {{ end -}}
{{ end -}}

<!-- A partial to be overwritten by placing a custom_head.html into /layouts/partials -->
{{- partial "custom_head.html" . -}}
</head>
