{{ if .Site.IsMultiLingual }}
<nav aria-label="Main Navigation" class="change-language">
    <ul>
        <li>{{ with $.Site.Language }}
            <img src="/g_translate.svg">
            {{ .LanguageName }} ({{ .Lang | upper }})
            <span class="fa fa-caret-down"></span>
            {{ end }}
            <ul aria-labelledby="dropdown-title" class="dropdown__menu">
                {{ range $.Translations }}
                <li><a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}"
                        aria-label="{{ i18n "ariaTranslation" }}{{ .Language.LanguageName }}">{{ .Language.LanguageName }}
                        ({{ .Lang | upper}})</a></li>
                {{ end }}
            </ul>
    </ul>
    </li>
</nav>
{{ end }}