{{ $options := (dict
  "outputStyle" "compressed"
  "enableSourceMap" true
  "targetPath" "css/main.css"
  "includePaths" (slice
    "node_modules/@fontsource"
    "node_modules/flickity"
    "node_modules/flickity-fade" )) -}}
{{ $style := resources.Get "scss/main.scss" | toCSS $options | fingerprint -}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

{{ $bundle := slice (resources.Get "flickity/dist/flickity.css") -}}
{{ $vendor := $bundle | resources.Concat "css/vendor.css" | fingerprint -}}
<link rel="stylesheet" href="{{ $vendor.RelPermalink }}" integrity="{{ $vendor.Data.Integrity }}">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

{{ if .IsTranslated -}}
  <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ $.Site.Language }}">
  {{ range .Translations -}}
     <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}">
  {{ end -}}
{{- end -}}
<link rel="canonical" href="{{ .Permalink }}">
