{{ $bundle := slice (resources.Get "jquery/jquery.slim.min.js") -}}
{{ $bundle = $bundle | append (resources.Get "feather-icons/feather.min.js") -}}
{{ $bundle = $bundle | append (resources.Get "jquery-bridget/jquery-bridget.js" | minify) -}}
{{ $bundle = $bundle | append (resources.Get "flickity/dist/flickity.pkgd.min.js") -}}
{{ $bundle = $bundle | append (resources.Get "js/ready.js" | minify) -}}
{{ $js := $bundle | resources.Concat "js/app.js" | fingerprint -}}
<script async type="text/javascript" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

<script type="application/ld+json">
  {{ $address := dict
    "@type" "PostalAddress"
    "streetAddress" .Site.Params.adrStreet
    "addressLocality" .Site.Params.adrCity
    "addressRegion" .Site.Params.adrLocality
    "postalCode" .Site.Params.adrPostcode
    "addressCountry" .Site.Params.adrCountry
    "description" (i18n "address.description")
  -}}
  {{ dict
    "@context" "https://schema.org"
    "@type" "LocalBusiness"
    "@id" (ref . "/")
    "name" .Site.Title
    "image" .Site.Params.images
    "address" $address
    "url" (ref . "/")
    "telephone" .Site.Params.phone
    "priceRange" "$$$"
    "email" .Site.Params.email | jsonify (dict "indent" "\t") | safeJS }}
</script>
