{{ $built := resources.Get "js/ready.js" | js.Build (dict "targetPath" "main.js" "minify" true) | fingerprint }}
<script defer type="text/javascript" src="{{ $built.RelPermalink }}" integrity="{{ $built.Data.Integrity }}"></script>

<script type="application/ld+json">
  {{ $address := dict
    "@type" "PostalAddress"
    "streetAddress" .Site.Params.adrStreet
    "addressLocality" .Site.Params.adrCity
    "addressRegion" .Site.Params.adrLocality
    "postalCode" .Site.Params.adrPostcode
    "addressCountry" .Site.Params.adrCountry
    "description" (i18n "address.description")
  -}}
  {{ dict
    "@context" "https://schema.org"
    "@type" "LocalBusiness"
    "@id" (ref . "/")
    "name" .Site.Title
    "image" ($.Scratch.Get "key-art").Permalink
    "address" $address
    "url" (ref . "/")
    "telephone" .Site.Params.phone
    "priceRange" "$$$"
    "email" .Site.Params.email | jsonify (dict "indent" "\t") | safeJS }}
</script>
