{{ define "main" }}
    <header id="site-head">
        <div>
            {{ range $index, $resource := .Resources.Match "slide*" }}
            <div class="image">
                <img data-lazy="{{ $resource.RelPermalink }} " alt="">
            </div>
            {{ end }}
        </div>

        <div class="vertical">
            <div id="site-head-content" class="inner">

                {{ with .Title }}<h1 class="blog-title">{{ . }}</h1>{{ end }}
                {{ with .Params.header_subheadline }}<h2 class="blog-description">{{ . }}</h2>{{ end }}

                <nav role="menu">
                    {{ range .Site.Menus.header }}
                        <a role="menuitem" class='btn site-menu' href="#{{ anchorize .Title }}" data-title-anchor='{{ anchorize .Title }}'>{{ .Title }}</a>
                    {{ end }}
                </nav>

                <div class="scrolly">
                    <a href="#more">
                        <span data-feather="chevron-down"></span>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <main class="content" role="main" id="more">
        {{ range .RegularPages }}
            <div class='post-holder'>
                <article id='{{ anchorize .Title }}' class='post'>
                    <header class="post-header">
                        <h2 class="post-title">{{ .Title }}</h2>
                    </header>
                    <section class="post-content">
                        {{ .Content }}
                    </section>
                </article>
                <div class='post-after'></div>
            </div>
        {{ end }}
    </main>
{{ end }}

