{{ define "main" }}
  <header id="site-head">
    <link class="portrait" as="image" rel="enclosure" href="{{ ($.Scratch.Get "hero-portrait").RelPermalink }}">
    <link class="landscape" as="image" rel="enclosure" href="{{ ($.Scratch.Get "hero-landscape").RelPermalink }}">

    <div class="inner">
      {{ with .Title }}<h1 class="blog-title">{{ . }}</h1>{{ end }}
      {{ with .Site.Params.slogan }}<p class="blog-description">{{ . }}</p>{{ end }}

      <nav id="main-menu">
        <ul>
          {{ range .Site.Menus.header }}<li>
            <a class="button" href="#{{ anchorize .Page.TranslationKey }}">{{ .Title }}</a>
          </li>{{ end }}
        </ul>

        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>

        <div class="scrolly">
            <a href="#maincontent" title="{{ i18n "skip_link" }}">
                <span data-feather="chevron-down"></span>
            </a>
        </div>
      </nav>
    </div>
  </header>

  <section class="content">
    {{ range .RegularPages }}
      <div class='post-holder'>
        <article id='{{ anchorize .TranslationKey }}' class='post'>
          <header class="post-header">
            <h2 class="post-title">{{ .Title }}</h2>
          </header>
          <div class="post-content">
            {{ .Content }}
          </div>
        </article>
        <div class='post-after'></div>
      </div>
    {{ end }}
    </section>

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "WebPage",
      {{ with .Title }}"name": "{{ . }}",{{ end }}
      {{ with .Param "description" }}"description": "{{ . }}",{{ end }}
      "url": "{{ .Permalink }}",
      "publisher": {
          "@type": "LocalBusiness",
          "name": "Luchtgomtechniek"
      },
      "countryOfOrigin": {
        "@type": "Country",
        "name": "Belgium"
      }
  }
  </script>
  {{ end }}
