{{ define "main" }}
  <header id="site-head">
    <link class="portrait" as="image" rel="enclosure" href="{{ ($.Scratch.Get "hero-portrait").RelPermalink }}">
    <link class="landscape" as="image" rel="enclosure" href="{{ ($.Scratch.Get "hero-landscape").RelPermalink }}">

    <div class="inner">
      {{ with .Title }}<h1 class="blog-title">{{ . }}</h1>{{ end }}
      {{ with .Site.Params.slogan }}<p class="blog-description">{{ . }}</p>{{ end }}

      <nav id="main-menu">
        <ul>
          {{ range slice "services" "portfolio" "quotation" "contact" "terms" }}
            {{ with $.Site.GetPage . }}
              <li>
                <a class="button" href="#{{ anchorize .TranslationKey }}">{{ .Title }}</a>
              </li>
            {{ end }}
          {{ end }}
        </ul>

        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>

        <div class="scrolly">
            <a href="#maincontent" title="{{ i18n "skip_link" }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
            </a>
        </div>
      </nav>
    </div>
  </header>

  <section class="content">
    {{ partial "block.html" ($.Site.GetPage "welcome")}}
    {{ partial "block.html" ($.Site.GetPage "services")}}
    {{ partial "block.html" ($.Site.GetPage "portfolio")}}
    {{ partial "block.html" ($.Site.GetPage "quotation")}}
    {{ partial "block.html" ($.Site.GetPage "contact")}}
    {{ partial "block.html" ($.Site.GetPage "terms")}}
  </section>

  {{ partial "chat.html" . }}

  <script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "WebPage",
      {{ with .Title }}"name": "{{ . }}",{{ end }}
      {{ with .Param "description" }}"description": "{{ . }}",{{ end }}
      "url": "{{ .Permalink }}",
      "publisher": {
          "@type": "LocalBusiness",
          "name": "{{ .Param "name" }}"
      },
      "countryOfOrigin": {
        "@type": "Country",
        "name": "Belgium"
      }
  }
  </script>

{{ end }}
