<form netlify name="prijsopgave">
    <p><label>
        {{ i18n "label_name" }}
        <input class="fw" type="text" name="naam" required maxlength="200">
    </label></p>

    <p><label>
        {{ i18n "label_email" }}
        <input class="fw" type="email" name="email" required maxlength="200">
    </label></p>

    <p><label>
        {{ i18n "label_telephone" }}
        <input class="fw" type="tel" name="telephone" required maxlength="20">
    </label></p>

    <p>
        {{ i18n "label_werk" }}
        
        <label>
            <input type="file" name="werk">
        </label>
    </p>

    <p>
        <input type="submit" value='{{ i18n "button_send" }}'>
    </p>
</form>