<form netlify name="prijsopgave">
    <p><label>
            Uw naam
            <input type="text" name="naam" required maxlength="200">
        </label></p>

    <p><label>
            E-mailadres
            <input type="email" name="email" required maxlength="200">
        </label></p>

    <p><label>
            Telefoonnummer
            <input type="tel" name="telephone" required maxlength="20">
        </label></p>

    <p>
        Foto van het werk (optioneel).
        <label>
            <input type="file" name="werk">
        </label>
    </p>

    <p>
        <input type="submit" value="Verzenden">
    </p>
</form>