<figure>
    <picture>
        {{ with .Get "webp" }}<source type="image/webp" srcset="{{ . }}">{{ end }}
        {{ with .Get "jpg" }}<source type="image/jpg" srcset="{{ . }}">{{ end }}
        {{ with .Get "png" }}<source type="image/png" srcset="{{ . }}">{{ end }}

        {{ if .Get "jpg" }}<img src="{{ .Get "jpg" }}" alt='{{ .Get "caption" }}'>{{ end }}
        {{ if .Get "png" }}<img src="{{ .Get "png" }}" alt='{{ .Get "caption" }}'>{{ end }}
    </picture>
    
    {{ with .Get "caption" }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>