{{ $layer := resources.Get "images/overlay.png" -}}

{{ with .Page.Resources.GetMatch (.Get 0) }}
  {{ with .Process "resize x400" }}
    {{ $x := sub .Width 100 -}}
    {{ $filter := images.Overlay $layer $x 300 }}
    {{ with . | images.Filter $filter }}
      {{ $webp := .Resize (printf "%dx%d webp" .Width .Height) -}}
      <picture>
        <source srcset="{{ $webp.RelPermalink }}" type="image/webp">
        <img src="{{ .RelPermalink }}" alt="{{ .Title }}" width="{{ .Width }}" height="{{ .Height }}" loading="lazy">
      </picture>
    {{ end }}
  {{ end }}
{{ end }}
